@import '../helpers/variables.scss';

//components

@import '../components/header/header.scss';
@import '../components/filmDetails/filmDetails.scss';
@import '../components/filmLibraryPage/libraryPage.scss';
@import '../components/footer/footer.scss';
