<li class="film-card__item">
    <img class="film-card__img" src="https://image.tmdb.org/t/p/w400{{backdrop_path}}"
        alt="poster for film {{film_title}}" />
    {{!-- <span class="film-card__rating">{{vote_average}}</span> --}}
    <h3 class="film-card__title"><a class="film-card__link" href="#">{{film_title}}</a></h3>
</li>
{{!-- <section class="homepage__pagination">
    <button class="controller">Prev</button>
    <button class="page_indicator">1</button>
    <button class="controller">Next</button>

</section> --}}