.film-card {
  &__list {
    margin: 0 auto;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  &__item {
    border-radius: 10px;
    position: relative;

    @media (min-width: 320px) {
      width: 298px;
      margin: 0 0 12px 0;
    }

    @media (min-width: 768px) {
      width: 346px;
      &:nth-child(odd) {
        margin: 0 24px 16px 0;
      }
    }

    @media (min-width: 1024px) {
      &__list {
        padding: 10px;
      }

      width: 466px;
      &:nth-child(odd) {
        margin: 0 32px 22px 0;
      }
    }
  }
  &__img {
    display: block;
    border-radius: 5px;
  }
  &__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  &__link {
    text-decoration: none;
    color: white;
  }
}

.homepage {
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &__pagination-controller {
    width: 78px;
    height: 38px;
    &:first-of-type {
      margin-right: 14px;
    }
    &:last-of-type {
      margin-left: 14px;
    }
  }
}
//vk

// @media (min-width: 768px) {
//   .container {
//     max-width: 710px;
//   }

//   .card-film {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//   }

//   .card-flim__img {
//     width: 340px;
//   }
// }
