<li class="card-film__item">
    <img class="card-flim__img" src="https://i.kym-cdn.com/entries/icons/facebook/000/031/242/cover5.jpg" alt="film" />
    <span class="card-flim__star">{{vote_average}}</span>
    <h3 class="card-flim__title">{{filmTitle }}</h3>
</li>