<div class="container">
    <div class="card-title">
        <div class="card-title__item">
            <h2>
                Watched
            </h2>
            <h2>
                Queue1
            </h2>
        </div>
    </div>

    <div class="card-film">
        <div class="card-film__item">
            <img class="card-flim__img" src="https://i.kym-cdn.com/entries/icons/facebook/000/031/242/cover5.jpg"
                alt="film">
            <span class="card-flim__star">6.5</span>
            <h3 class="card-flim__title">Темные времена (2017)</h3>
        </div>
    </div>
</div>