//fonts
$primaryFontColor: #372c48;
$secondaryFontColor: #000000;

//background
$primaryBackgroundColor: #77c1bb;
$tableBackgroundColor: #addad6;

//button
$buttonFontColor: #556270;
$buttonBackgroundColor: #f4f4f4;
$buttonBorderColor: #dddddd;


//page
//1024px
$containerWidth: 964px;

