<div class="container">
    <section class="film-details">
        {{!-- TODO: дізнатися чи необхідний шаблонний рядок в src, чи скомпілюється і так --}}
        <img class="film-details__image" src="../../img/poster.jpg"
            {{!-- https://image.tmdb.org/t/p/w400${{poster_path --}}
            {{!-- TODO: дізнатися як реалізовується логічний оператор "або" в handlebars --}}
            alt="Poster to film Dumbo">
        {{!-- TODO: дізнатися чи привилььно названі класи по БЕМу --}}
        <div class="film-details__info">
            <h2 class="info__title"> Dumbo</h2>
            {{!-- original_title || title|| name --}}
            <table class="info__table">
                <tbody>
                    <tr class="table__row">
                        <td class="table__cell">vote/votes</td>
                        <td class="table__cell">6.5/1422</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">popularity</td>
                        <td class="table__cell">100.2</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">original title</td>
                        <td class="table__cell">Dumbo</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">genre</td>
                        <td class="table__cell">drama, biography, history</td>
                    </tr>

                </tbody>
            </table>
            <h3 class="info__about">About</h3>
            <p class="info__description">A young elephant, whose oversized ears enable him to fly, helps</p>
            {{!-- TODO: визначитися щодо використання material-icons (https://materializecss.com/icons.html) --}}
            {{!--TODO: Дізнатися як передати в handlebars-шаблон інформацію щодо стану поточного фільму (чи доданий він у watched, queue, чи ні) --}}
            <div class="info__add">
                {{!-- <i class="material-icons">add</i> --}}
                <img src="../../img/video.png" alt="add video icon">
                <span class="">Add to watched</span>
            </div>
            <div class="info__remove">
                {{!-- <i class="material-icons">add</i> --}}
                <img src="../../img/remove-video.png" alt="remove video icon">
                <span class="">Remove from watched</span>
            </div>

            <div class="info__add">
                {{!-- <i class="material-icons">add</i> --}}
                <img src="../../img/video.png" alt="add video icon">
                <span class="">Add to queue</span>
            </div>
            <div class="info__remove">
                {{!-- <i class="material-icons">add</i> --}}
                <img src="../../img/remove-video.png" alt="remove video icon">
                <span class="">Remove from queue</span>
            </div>


        </div>
    </section>


</div>