<div class="container">
  <header class="header">
    <a class="logo bounce" href="/">
      <img class="logo-img" src="https://i.ibb.co/nztx0PQ/logo.png" alt="Film" />

      <span class="logo-name">Filmoteka</span>
    </a>
    <nav class="nav bounce">
      <ul class="nav-list">

        <li class="nav-list__item home-hover"><button class="header-btn" data-action="home">Home</button></li>
        <li class="nav-list__item js-library library-hover">
          <button class="header-btn" data-action="Library">My library</button>
        </li>
      </ul>
    </nav>
  </header>
  {{!-- <div class="searchBar">      
      <form class='searchForm' action="post">
        <input
          type="search"
          class="searchInput place-finder"
          placeholder="Write movie name and click Enter"

        />
      </form>
    </div>     --}}
</div>
</div>