<div class="container">
<header class="header">
      <a class="logo bounce" href="#">
        <img class="logo-img" src="https://i.ibb.co/nztx0PQ/logo.png"  alt="" />
        <span class="logo-name">Filmoteka</span>
      </a>
      <nav class="nav bounce">
        <ul class="nav-list">
          <li class="nav-list__item home-hover" data-action="home">Home</li>
          <li class="nav-list__item js-library library-hover" data-action="Library">
            My library
          </li>
        </ul>
      </nav>
    </header>
    <div class="searchBar">
      <form action="post">
        <input
          type="text"
          class="searchInput"
          placeholder="ðŸ” Write movie name and click Enter"
        />
      </form>
    </div>
  </div>
